*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
body{
    width:75%;
    margin:auto;
}
*/

.container{
    width: 98%;
    margin:auto;
}

.logo{
    width: 10%;
}

header{
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-size: 10%;
}

h1{
    font-size: 50px;
}

.bool{
    color: #20a9e5;
}

.date{
    font-size: 12px;
}
.images{
    margin-top: 20px;
}

.comments{
    font-size: 12px;
}